@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');    


body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:url('board.jpg');
    background-position: center;
    background-size: cover;
}




#calculator{
    font-family: Poppins;
    background-color: hsl(0, 0%, 15%);
    border-radius: 10px;
    max-width: 500px;
    overflow: hidden;
}


#display{
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 5rem;
    border: none;
    color: white;
}


#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    cursor: pointer;
    font-size: 3em;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: darkred;
}

.operator-btn{
    background-color: darkred;
}

.operator-btn:hover{
    background-color: hsl(0, 100%, 37%);
}

.operator-btn:active{
    background-color: hsl(0, 100%, 57%);
}